<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Event</title>

    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">


    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.js"></script>
</head>
<body>
    <div class="wrapper" style="text-align: center;">
        <h4>Please Enter the Event Information Below</h4>
        <div style="margin-left:10%; margin-right: 10%; ">
            <h6>Event Title</h6>
            <input type="text" class="form-control" id="title" placeholder="Title">

            <h6>Format</h6>
            <select class="form-control" id="format">
                <option selected disabled hidden value=''></option>
                <option value="Event">Event</option>
                <option value="nonSports">Non-Sports Program</option>
                <option value="sports">Sports Program</option>
                <option value="club">Club/Organization</option>
                <option value="special">Special Project</option>
                <option value="us">Co-Op (US)</option>
                <option value="international">Co-Op (International)</option>
                <option value="employment">Employment</option>
                <option value="internship">Internship</option>
                <option value="course">Course</option>
                <option value="research">Research</option>
                <option value="service">Service</option>
                <option value="study">Study Abroad</option>
                <option value="dialogue">Dialogue of Civilizations</option>
            </select>
            <h6>Topics</h6>
            <input type="text" class="form-control" id="topics" placeholder="Topics">
            <h6>Description</h6>
            <input type="text" class="form-control" id="desc" placeholder="Description">
            <h6>Begin Date</h6>
            <input type="text" class="form-control" id="begin" placeholder="Begin Date">
            <h6>End Date</h6>
            <input type="text" class="form-control" id="end" placeholder="End Date">
            <h6>Approximate Length (in hours)</h6>
            <select class="form-control" id="engagement" style="width: 200px">
                <option selected disabled hidden value=''></option>
                <option value="1">1-2</option>
                <option value="3">3-4</option>
                <option value="5">5-8</option>
                <option value="9">9-15</option>
                <option value="16">16-29</option>
                <option value="30">30-59</option>
                <option value="60">60-89</option>
                <option value="90">90-119</option>
                <option value="120">120-179</option>
                <option value="180">180-239</option>
                <option value="240">240-299</option>
                <option value="300">300-399</option>
                <option value="400">over 400</option>
            </select>
            <h6>Recurrence</h6>
            <select class="form-control" id="recurrence">
                <option selected disabled hidden value=''></option>
                <option value="none">None</option>
                <option value="fall">Each Fall</option>
                <option value="spring">Each Spring</option>
                <option value="summer">Each Summer</option>
                <option value="year">Each Year</option>
                <option value="tbd">To Be Determined</option>
            </select>

            <h6>Location</h6>
            <input type="text" class="form-control" list="location" id="eventLocation" placeholder="Location">
            <datalist id="location">
                <option value="Boston, MA Campus">
                <option value="Charlotte, NC Campus">
                <option value="Seattle, WA Campus">
                <option value="Silicon Valley Campus">
                <option value="Toronto Campus">
                <option value="Multiple">
                <option value="TBD">
            </datalist>

            <h6>Co-Op Friendly?</h6>
            <select class="form-control" id="coop">

            </select>

            <h6>Academic Standing</h6>
            <select class="form-control" id="standing">

            </select>

            <h6>Major</h6>
            <input type="text" class="form-control" id="major" placeholder="Major">

            <h6>Resident Status</h6>
            <select class="form-control" id="residence">

            </select>

            <h6>Other Requirements</h6>
            <input type="text" class="form-control" id="other" placeholder="Other Requirements">

            <h6>Sponsoring College</h6>
            <input type="text" class="form-control" id="sponsorCollege" placeholder="Sponsoring College">
            <h6>Point of Contact</h6>
            <input type="text" class="form-control" id="poc" placeholder="Point of Contact">
            <h6>Outcomes</h6>
            <input type="text" class="form-control" id="outcomes" placeholder="Outcomes">

            <h6>Skills</h6>
            <select multiple class="form-control" id="skills">

            </select>

            <h6>Engagement Level</h6>
            <select class="form-control" id="level">

            </select>
        </div>
    </div>
</body>
</html>